Repository maxk2807/WaterWizards, pull requests merged in 2025-05, with the labels that each got.

#80 LogChat PreGameLobby (Prototyp)
  src/WaterWizard.Client/ChatLogManager.cs
  src/WaterWizard.Client/GameStateManager.cs
  src/WaterWizard.Client/NetworkManager.cs
  src/WaterWizard.Server/Program.cs
Labels: Client, Server, Ui

#81 Shows PlayerHands
  src/WaterWizard.Client/GameHand.cs
  src/WaterWizard.Client/GameScreen.cs
  src/WaterWizard.Client/GameStateManager.cs
  src/WaterWizard.Shared/Cards.cs
Labels: Client, Ui, Karten, High

#83 #82 show card preview above hand
  src/WaterWizard.Client/GameHand.cs
  src/WaterWizard.Client/GameStateManager.cs
  src/WaterWizard.Client/gamescreen/GameBoard.cs
  src/WaterWizard.Client/gamescreen/GameCard.cs
  src/WaterWizard.Client/gamescreen/GameHand.cs
  src/WaterWizard.Client/gamescreen/GameScreen.cs
Labels: Client, Ui, Karten

#110 draw active cards field
  src/WaterWizard.Client/gamescreen/ActiveCards.cs
  src/WaterWizard.Client/gamescreen/GameHand.cs
  src/WaterWizard.Client/gamescreen/GameScreen.cs
Labels: Client, Ui, Karten

#132 124 confirmation check before placing ship
  src/WaterWizard.Client/gamescreen/GameBoard.cs
  src/WaterWizard.Client/gamescreen/GameScreen.cs
  src/WaterWizard.Client/gamescreen/ships/DraggingShip.cs
  src/WaterWizard.Client/gamescreen/ships/GameShip.cs
  src/WaterWizard.Client/gamescreen/ships/ShipField.cs
  src/WaterWizard.Client/gamescreen/ships/ShipType.cs
Labels: Client, Schiffe, High

#131 Add GameSessionId class for unique session management and update Netw…
  src/WaterWizard.Client/NetworkManager.cs
  src/WaterWizard.Shared/GameSessionId.cs
Labels: Client, Server, Medium

#145 Add game state classes for connecting, hosting, and in-game menus
  src/WaterWizard.Client/GameStateManager.cs
  src/WaterWizard.Client/NetworkManager.cs
  src/WaterWizard.Client/gamestates/ConnectingMenuState.cs
  src/WaterWizard.Client/gamestates/HostingMenuState.cs
  src/WaterWizard.Client/gamestates/IGameState.cs
  src/WaterWizard.Client/gamestates/InGameState.cs
  src/WaterWizard.Client/gamestates/LobbyListMenuState.cs
  src/WaterWizard.Client/gamestates/MainMenuState.cs
  src/WaterWizard.Client/gamestates/PlacementPhaseState.cs
  src/WaterWizard.Client/gamestates/PreStartLobbyState.cs
  src/WaterWizard.Server/Program.cs
  src/WaterWizard.Server/ServerGameStates/IServerGameState.cs
  src/WaterWizard.Server/ServerGameStates/InGameState.cs
  src/WaterWizard.Server/ServerGameStates/LobbyState.cs
  src/WaterWizard.Server/ServerGameStates/PlacementState.cs
  src/WaterWizard.Server/ServerGameStates/ServerGameStateManager.cs
Labels: Client, Server, Schiffe, Medium

#143 Mana und Gold Anzeige
  src/WaterWizard.Client/gamescreen/CardStacksField.cs
  src/WaterWizard.Client/gamescreen/GameScreen.cs
  src/WaterWizard.Client/gamescreen/RessourceField.cs
Labels: Client, Ui

#148 UI Buttons und TextureManager Class
  src/WaterWizard.Client/Assets/icons8-rotate-48.png
  src/WaterWizard.Client/Assets/icons8-tick-60.png
  src/WaterWizard.Client/Program.cs
  src/WaterWizard.Client/TextureManager.cs
  src/WaterWizard.Client/gamescreen/ships/DraggingShip.cs
  src/WaterWizard.Client/gamescreen/ships/ShipField.cs
Labels: Client, Ui, Schiffe

#153 Card Preview Bug
  src/WaterWizard.Client/gamescreen/GameHand.cs
Labels: bug, Ui, Karten

#158 Add continuous deployment pipeline for automated releases
  .github/workflows/cd-pipeline.yml
Labels: Pipeline

#170 Confirmation back from the server that ship placement successfull
  src/WaterWizard.Client/NetworkManager.cs
  src/WaterWizard.Client/gamescreen/ships/GameShip.cs
  src/WaterWizard.Server/GameState.cs
  src/WaterWizard.Server/ServerGameStates/InGameState.cs
  src/WaterWizard.Server/ServerGameStates/LobbyState.cs
  src/WaterWizard.Server/ServerGameStates/PlacementState.cs
Labels: Client, Server, Medium

#178 F74 server karten verwaltung und "Kauf"
  src/WaterWizard.Client/NetworkManager.cs
  src/WaterWizard.Client/gamescreen/GameScreen.cs
  src/WaterWizard.Client/gamescreen/cards/ActiveCards.cs
  src/WaterWizard.Client/gamescreen/cards/CardStack.cs
  src/WaterWizard.Client/gamescreen/cards/CardStacksField.cs
  src/WaterWizard.Client/gamescreen/cards/GameCard.cs
  src/WaterWizard.Client/gamescreen/cards/GameHand.cs
  src/WaterWizard.Server/GameState.cs
  src/WaterWizard.Server/ServerGameStates/InGameState.cs
  src/WaterWizard.Server/ServerGameStates/PlacementState.cs
Labels: Client, Server, Shared, Karten, High

#180 F138 validate ship placement
  src/WaterWizard.Client/NetworkManager.cs
  src/WaterWizard.Client/gamescreen/GameBoard.cs
  src/WaterWizard.Client/gamescreen/GameScreen.cs
  src/WaterWizard.Client/gamescreen/cards/ActiveCards.cs
  src/WaterWizard.Client/gamescreen/cards/CardStack.cs
  src/WaterWizard.Client/gamescreen/cards/CardStacksField.cs
  src/WaterWizard.Client/gamescreen/cards/GameCard.cs
  src/WaterWizard.Client/gamescreen/cards/GameHand.cs
  src/WaterWizard.Client/gamescreen/ships/DraggingShip.cs
  src/WaterWizard.Server/GameState.cs
  src/WaterWizard.Server/ServerGameStates/InGameState.cs
  src/WaterWizard.Server/ServerGameStates/PlacementState.cs
Labels: Client, Low

#185 F182 client default attack
  src/WaterWizard.Client/NetworkManager.cs
  src/WaterWizard.Client/gamescreen/GameBoard.cs
  src/WaterWizard.Client/gamescreen/cards/GameCard.cs
  src/WaterWizard.Client/gamescreen/cards/GameHand.cs
  src/WaterWizard.Server/CardAbilities.cs
  src/WaterWizard.Server/GameState.cs
  src/WaterWizard.Server/ServerGameStates/InGameState.cs
  src/WaterWizard.Shared/CardStats.cs
  src/WaterWizard.Shared/CardTarget.cs
  src/WaterWizard.Shared/CardVariant.cs
  src/WaterWizard.Shared/Cards.cs
Labels: Client, Server, Shared, Karten, High

#198 Implement opponent ship synchronization and improve ship sync handlin…
  src/WaterWizard.Client/NetworkManager.cs
  src/WaterWizard.Server/ServerGameStates/PlacementState.cs
Labels: Client, Server, Schiffe

#201 F70 server validierung
  .config/dotnet-tools.json
  build/Build.cs
  build/Directory.Build.props
  build/Directory.Build.targets
  build/_build.csproj
  src/WaterWizard.Client/ChatLogManager.cs
  src/WaterWizard.Client/GamePauseManager.cs
  src/WaterWizard.Client/GameStateManager.cs
  src/WaterWizard.Client/GameTimer.cs
  src/WaterWizard.Client/LobbyInfo.cs
  src/WaterWizard.Client/NetworkManager.cs
  src/WaterWizard.Client/Player.cs
  src/WaterWizard.Client/Program.cs
  src/WaterWizard.Client/TextureManager.cs
  src/WaterWizard.Client/WaterWizard.Client.csproj
  src/WaterWizard.Client/gamescreen/GameBoard.cs
  src/WaterWizard.Client/gamescreen/GameScreen.cs
  src/WaterWizard.Client/gamescreen/PreStartLobbyTimer.cs
  src/WaterWizard.Client/gamescreen/RessourceField.cs
  src/WaterWizard.Client/gamescreen/cards/ActiveCards.cs
  src/WaterWizard.Client/gamescreen/cards/CardStack.cs
  src/WaterWizard.Client/gamescreen/cards/CardStacksField.cs
  src/WaterWizard.Client/gamescreen/cards/GameCard.cs
  src/WaterWizard.Client/gamescreen/cards/GameHand.cs
  src/WaterWizard.Client/gamescreen/ships/DraggingShip.cs
  src/WaterWizard.Client/gamescreen/ships/GameShip.cs
  src/WaterWizard.Client/gamescreen/ships/ShipField.cs
  src/WaterWizard.Client/gamestates/ConnectingMenuState.cs
  src/WaterWizard.Client/gamestates/HostingMenuState.cs
  src/WaterWizard.Client/gamestates/IGameState.cs
  src/WaterWizard.Client/gamestates/InGameState.cs
  src/WaterWizard.Client/gamestates/LobbyListMenuState.cs
  src/WaterWizard.Client/gamestates/MainMenuState.cs
  src/WaterWizard.Client/gamestates/PlacementPhaseState.cs
  src/WaterWizard.Client/gamestates/PreStartLobbyState.cs
  src/WaterWizard.Server/CardAbilities.cs
  src/WaterWizard.Server/GameSessionTimer.cs
  src/WaterWizard.Server/GameState.cs
  src/WaterWizard.Server/Program.cs
  src/WaterWizard.Server/ServerGameStates/IServerGameState.cs
  src/WaterWizard.Server/ServerGameStates/InGameState.cs
  src/WaterWizard.Server/ServerGameStates/LobbyState.cs
  src/WaterWizard.Server/ServerGameStates/PlacementState.cs
  src/WaterWizard.Server/ServerGameStates/ServerGameStateManager.cs
  src/WaterWizard.Server/WaterWizard.Server.csproj
  src/WaterWizard.Shared/CardStats.cs
  src/WaterWizard.Shared/CardTarget.cs
  src/WaterWizard.Shared/CardType.cs
  src/WaterWizard.Shared/CardVariant.cs
  src/WaterWizard.Shared/Cell.cs
  src/WaterWizard.Shared/Class1.cs
  src/WaterWizard.Shared/GameSessionId.cs
  src/WaterWizard.Shared/NetworkUtils.cs
  src/WaterWizard.Shared/Ship.cs
  src/WaterWizard.Shared/WaterWizard.Shared.csproj
  src/WaterWizardTests/UnitTest1.cs
  src/WaterWizardTests/WaterWizardTests.csproj
Labels: Client, Server, Schiffe

#211 F76 aktive effekte
  src/WaterWizard.Client/gamescreen/cards/ActiveCards.cs
  src/WaterWizard.Client/gamescreen/cards/GameHand.cs
  src/WaterWizard.Client/network/ClientService.cs
  src/WaterWizard.Server/CardAbilities.cs
  src/WaterWizard.Server/GameState.cs
  src/WaterWizard.Shared/Cards.cs
Labels: Client, Server, Ui, Shared, Karten, Medium
